:root {
  font-family: "Montserrat", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  min-width: 0;
}

@mixin flex-column-center-vh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin text-loader($height, $width, $marginb) {
  height: $height;
  width: $width;
  margin-bottom: $marginb;
}

body {
  background-color: #666;
  padding: 0px 25px;
  margin: 0px;
  min-height: 100vh;
  height: 100%;
  overflow-x: clip;
}

#root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 650px;
  margin: auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: white;
    font-weight: 400;
    font-size: 25px;
    width: 100%;
  }
}

#search-form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 250px;

  input {
    display: flex;
    width: 100%;
    max-width: 150px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border: 0px;
    height: 2em;
    font-size: 16px;
    padding-left: 10px;
  }

  button {
    color: white;
    background-color: hsl(256, 78%, 34%);
    border: 0px;
    border-radius: 0px;
    padding: 0px 12px 0px 10px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;

    &:hover {
      background-color: hsl(256, 79%, 26%);
    }
  }
}

#weather-container {
  @include flex-column-center-vh();

  width: 100%;
  margin-bottom: 50px;
}

#weather-body {
  @include flex-column-center-vh();

  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);

  #error-message {
    padding: 25px;
    text-align: center;
    svg {
      color: hsl(256, 78%, 34%);
    }
  }

  span:not(.info-row > span) {
    display: block;
    margin: 50px;
    text-align: center;
    color: #fff;

    #condition-icon {
      width: 100%;
      max-width: 200px;
    }

    h1 {
      font-size: 4em;
      margin: 0px auto;
    }

    h3,
    h4 {
      font-weight: 400;
      margin: 10px auto;
    }

    hr {
      background-color: #fff;
      border: 0px;
      height: 1px;
      margin: 25px 0px;
    }

    #other-info {
      h3 {
        font-weight: 700;
        margin-top: 40px;
      }
    }

    .info-row {
      display: flex;
      justify-content: center;

      span:nth-child(odd) {
        text-align: right;
        padding-right: 10px;
      }

      span:nth-child(even) {
        border-left: 1px solid #fff;
        padding-left: 10px;
      }
    }

    .info-row:not(:last-child) {
      margin-bottom: 10px;
    }

    #days {
      display: grid;
      grid-template-columns: 1fr 1fr;

      section {
        padding: 0px 25px;
      }

      section:first-child {
        border-right: 1px solid #fff;
      }

      h4 {
        font-weight: 600;
      }
    }
  }
}

/* Weather Skeleton */

#weather-display-skeleton {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin: 50px;

  div.condition-icon-loader {
    width: 175px;
    height: 175px;
    margin-bottom: 35px;
  }

  .h1-loader {
    @include text-loader(78px, 100px, 25px);
  }

  .h3-loader {
    @include text-loader(18px, 175px, 15px);
  }

  .h4-loader {
    @include text-loader(14px, 100px, 15px);
  }

  hr {
    margin-top: 10px !important;
    width: 100% !important;
  }
}

#other-info-loader {
  margin-bottom: 35px;

  .info-para-loader {
    @include text-loader(14px, 100px, 3px);
    padding-left: 0px !important;
    border-left: 0px !important;
  }
}

#day-forecast-loader {
  @include flex-column-center-vh;
  margin-bottom: 25px;

  #days-loader-container {
    display: flex;
  }
  .days-loader {
    max-width: 50%;
    margin: 0px 5px;

    section {
      @include flex-column-center-vh;
      p {
        @include text-loader(12px, 75px, -10px);
      }
    }
  }
}

// Loading Animation (thank you Codeguage for base code)
.load {
  animation-name: loadingComponent;
  animation-duration: 1s;
  transition: ease-in-out;
  background: linear-gradient(-45deg, #bababa 30%, white 50%, #bababa 70%);
  animation-iteration-count: infinite;
  background-size: 500%;
  background-position-x: 100%;
  opacity: 0.25;
}

@keyframes loadingComponent {
  0% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0%;
  }
}

/* THEMES */

body {
  &.blue {
    background: linear-gradient(0deg, #0066b2 0%, #89cff0 100%);
  }
  &.day-grey {
    background: linear-gradient(0deg, #666 0%, #89cff0 100%);
  }
  &.overcast {
    background: linear-gradient(0deg, #333 0%, #dadada 100%);
  }
  &.night-blue {
    background: linear-gradient(0deg, #050616 0%, #1a0e3e 100%);
  }
  &.night-grey {
    background: linear-gradient(0deg, #050616 0%, #222 100%);
  }
}

/* MEDIA Q */

@media (max-width: 500px) {
  #root {
    padding: 0px;
  }
  #days {
    display: flex !important;
    flex-direction: column;

    section:first-child {
      border-right: none !important;
      border-bottom: 1px solid white;
    }
  }

  #days-loader-container {
    @include flex-column-center-vh();

    .days-loader:nth-child(2) {
      margin-top: 25px;
    }
  }
}
