:root {
  font-family: "Montserrat", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  background-color: #666;
  padding: 0px 25px;
  margin: 0px;
  min-height: 100vh;
  height: 100%;
  overflow-x: clip;
}

#root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 650px;
  margin: auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  color: white;
  font-weight: 400;
  font-size: 25px;
  width: 100%;
}

#search-form {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 250px;
}
#search-form input {
  display: flex;
  width: 100%;
  max-width: 150px;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  border: 0px;
  height: 2em;
  font-size: 16px;
  padding-left: 10px;
}
#search-form button {
  color: white;
  background-color: hsl(256deg, 78%, 34%);
  border: 0px;
  border-radius: 0px;
  padding: 0px 12px 0px 10px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
#search-form button:hover {
  background-color: hsl(256deg, 79%, 26%);
}

#weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

#weather-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}
#weather-body #error-message {
  padding: 25px;
  text-align: center;
}
#weather-body #error-message svg {
  color: hsl(256deg, 78%, 34%);
}
#weather-body span:not(.info-row > span) {
  display: block;
  margin: 50px;
  text-align: center;
  color: #fff;
}
#weather-body span:not(.info-row > span) #condition-icon {
  width: 100%;
  max-width: 200px;
}
#weather-body span:not(.info-row > span) h1 {
  font-size: 4em;
  margin: 0px auto;
}
#weather-body span:not(.info-row > span) h3,
#weather-body span:not(.info-row > span) h4 {
  font-weight: 400;
  margin: 10px auto;
}
#weather-body span:not(.info-row > span) hr {
  background-color: #fff;
  border: 0px;
  height: 1px;
  margin: 25px 0px;
}
#weather-body span:not(.info-row > span) #other-info h3 {
  font-weight: 700;
  margin-top: 40px;
}
#weather-body span:not(.info-row > span) .info-row {
  display: flex;
  justify-content: center;
}
#weather-body span:not(.info-row > span) .info-row span:nth-child(odd) {
  text-align: right;
  padding-right: 10px;
}
#weather-body span:not(.info-row > span) .info-row span:nth-child(even) {
  border-left: 1px solid #fff;
  padding-left: 10px;
}
#weather-body span:not(.info-row > span) .info-row:not(:last-child) {
  margin-bottom: 10px;
}
#weather-body span:not(.info-row > span) #days {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#weather-body span:not(.info-row > span) #days section {
  padding: 0px 25px;
}
#weather-body span:not(.info-row > span) #days section:first-child {
  border-right: 1px solid #fff;
}
#weather-body span:not(.info-row > span) #days h4 {
  font-weight: 600;
}

/* Weather Skeleton */
#weather-display-skeleton {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin: 50px;
}
#weather-display-skeleton div.condition-icon-loader {
  width: 175px;
  height: 175px;
  margin-bottom: 35px;
}
#weather-display-skeleton .h1-loader {
  height: 78px;
  width: 100px;
  margin-bottom: 25px;
}
#weather-display-skeleton .h3-loader {
  height: 18px;
  width: 175px;
  margin-bottom: 15px;
}
#weather-display-skeleton .h4-loader {
  height: 14px;
  width: 100px;
  margin-bottom: 15px;
}
#weather-display-skeleton hr {
  margin-top: 10px !important;
  width: 100% !important;
}

#other-info-loader {
  margin-bottom: 35px;
}
#other-info-loader .info-para-loader {
  height: 14px;
  width: 100px;
  margin-bottom: 3px;
  padding-left: 0px !important;
  border-left: 0px !important;
}

#day-forecast-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
#day-forecast-loader #days-loader-container {
  display: flex;
}
#day-forecast-loader .days-loader {
  max-width: 50%;
  margin: 0px 5px;
}
#day-forecast-loader .days-loader section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#day-forecast-loader .days-loader section p {
  height: 12px;
  width: 75px;
  margin-bottom: -10px;
}

.load {
  animation-name: loadingComponent;
  animation-duration: 1s;
  transition: ease-in-out;
  background: linear-gradient(-45deg, #bababa 30%, white 50%, #bababa 70%);
  animation-iteration-count: infinite;
  background-size: 500%;
  background-position-x: 100%;
  opacity: 0.25;
}

@keyframes loadingComponent {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}
/* THEMES */
body.blue {
  background: linear-gradient(0deg, #0066b2 0%, #89cff0 100%);
}
body.day-grey {
  background: linear-gradient(0deg, #666 0%, #89cff0 100%);
}
body.overcast {
  background: linear-gradient(0deg, #333 0%, #dadada 100%);
}
body.night-blue {
  background: linear-gradient(0deg, #050616 0%, #1a0e3e 100%);
}
body.night-grey {
  background: linear-gradient(0deg, #050616 0%, #222 100%);
}

/* MEDIA Q */
@media (max-width: 500px) {
  #root {
    padding: 0px;
  }
  #days {
    display: flex !important;
    flex-direction: column;
  }
  #days section:first-child {
    border-right: none !important;
    border-bottom: 1px solid white;
  }
  #days-loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #days-loader-container .days-loader:nth-child(2) {
    margin-top: 25px;
  }
}

/*# sourceMappingURL=index.css.map */
